@model tp10_tl2.Models.CrearTableroViewModel
@{
    ViewData["Title"] = "Crear Tablero";
    Model.IdUsuarioPropietario = Convert.ToInt32(Context.Session.GetString("id"));
}



<div class="text-center">
    <h1 class="display-4">Crear Tablero @Model.IdUsuarioPropietario</h1>
    <form asp-controller="Tablero" asp-action="CrearTablero" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input asp-for="@Model.Nombre" type="text" class="form-control" id="nombre">
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>

            <label for="descripcion" class="form-label">Descripcion</label>
            <input asp-for="@Model.Descripcion" type="text" class="form-control" id="descripcion">
            <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
