@{
    ViewData["Title"] = "Tableros";
    var user = Context.Session.GetString("rol");
}

@model List<tp10_tl2.Models.ListarTableroViewModel>

<div class="text-center">
    <h1 class="display-4">Control de Tableros</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Usuario Propietario</th>
                <th scope="col">Nombre Tablero</th>
                <th scope="col">Descripcion</th>
                @if (user == "Administrador")
                {
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                }
                <th>Tareas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.UsuarioAsignado</td>
                    <td>@u.Nombre</td>
                    <td>@u.Descripcion</td>
                    @if (user == "Administrador")
                    {
                        <td>
                            <i class="fa-solid fa-pen-to-square"></i>
                            <a class="actualizar" asp-controller="Tablero" asp-action="ModificarTablero"
                                asp-route-id="@u.Id">Modificar</a>
                        </td>
                        <td>
                            <i class="fa-solid fa-trash"></i>
                            <a class="eliminar" asp-controller="Tablero" asp-action="EliminarTablero"
                                asp-route-id="@u.Id">Eliminar</a>
                        </td>
                    }
                    <td>
                        <i class="fa-solid fa-clipboard"></i>
                        <a asp-controller="Tarea" asp-action="TareaPorTablero" asp-route-id="@u.Id"> Ver Tareas</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-controller="Tablero" asp-action="CrearTablero">
            <button class="btn btn-primary crear" type="button">Añadir
                Tablero</button></a>
    </div>
</div>
