@{
    ViewData["Title"] = "Tablero";
}
@model List<tp10_tl2.Models.ListarTableroViewModel>

<div class="text-center">
    <h1 class="display-4">Control de Tableros</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Usuario Propietario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <th scope="row">@u.Id</th>
                    <td>@u.IdUsuarioPropietario</td>
                    <td>@u.Nombre</td>
                    <td>@u.Descripcion</td>
                    <td>
                        <a class="actualizar" asp-controller="Tablero" asp-action="ModificarTablero"
                            asp-route-id="@u.Id">Modificar</a>
                    </td>
                    <td>
                        <a class="eliminar" asp-controller="Tablero" asp-action="EliminarTablero"
                            asp-route-id="@u.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-controller="Tablero" asp-action="CrearTablero">
            <button class="btn btn-primary crear" type="button">Añadir
                Tablero</button></a>
    </div>
</div>
