@{
    ViewData["Title"] = "TareasTotales";
    var idUsuario = Context.Session.GetString("id");
    var user = Context.Session.GetString("rol");
}

@model List<tp10_tl2.Models.ListarTareaViewModel>

<div class="text-center">
    <h1 class="display-4">Lista de Tareas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">Usuario Asignado</th>
                <th scope="col">Tablero</th>
                @if (user == "Administrador")
                {
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var T in Model)
            {
                <tr>
                    <td>@T.Nombre</td>
                    <td>@T.Descripcion</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <div
                            style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: @T.Color">
                        </div>
                    </td>
                    <td>@T.Estado</td>
                    <td>@T.UsuarioAsignado</td>
                    <td>@T.Tablero</td>
                    @if (user == "Administrador")
                    {
                        <td>
                            <a class="actualizar" asp-controller="Tarea" asp-action="ModificarTarea"
                                asp-route-id="@T.Id">Modificar</a>
                        </td>
                        <td>
                            <a class="eliminar" asp-controller="Tarea" asp-action="EliminarTarea"
                                asp-route-id="@T.Id">Eliminar</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-controller="Tarea" asp-action="CrearTarea">
            <button class="btn btn-primary crear" type="button">Añadir
                Tarea</button></a>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-controller="Tarea" asp-action="TareasUsuario" asp-route-id="@idUsuario">
            <button class="btn btn-primary crear m-4" type="button"><i class="fa-solid fa-share"></i> Mis
                Tareas</button></a>
    </div>
</div>